@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
}

/* .main-bg {
  background: #ffff;
} */

.fake-dark-mode {
  filter: invert(100%);
  transition: all 0.5s;
}
